In [ ]:
Rekursive sammenhenger

In [ ]:
tall = 1
for i in range(20):
  print(tall)
  tall = tall + 3

In [ ]:
Oppgave 1.1

In [ ]:
print('a)')
tall = 5

for i in range(20):
    print(tall)
    tall = tall + 4
    
print('b)')
tall = 10

for i in range(20):
    print(tall)
    tall = tall -2
    
print('c)')
tall = 1

for i in range(20):
    tall = tall + i
    print(tall)
    
print('d)')
tall = 1

for i in range(20):
    tall = 1*4**i
    print(tall)

print('e)')
tall = 1

for i in range(20):
    tall = 3**i
    if i % 2 == 0:
        print(tall)
    else:
        print(-tall)
        
print('f)')
tall = 1

for i in range(20):
    tall = (i+1)**2
    print(tall)

In [ ]:
Oppg 1.3 c)

In [ ]:
tall = int(input('Skriv inn verdi for a_1: '))
ledd = int(input('Oppgi antall ledd du ønsker: '))

for i in range(ledd):
    print(tall)
    tall = tall + 1

In [ ]:
Oppg 1.5

In [ ]:
print('a)')
tall = 2

for i in range(1,11):
    print(tall)
    tall = 2*tall
    
print('b)')
tall = 5

for i in range(2,12):
    print(tall)
    tall = tall + 3
    
print('c)')
tall = 1

for i in range(1,11):
    print(tall)
    tall = 2*tall - 3
    
print('d)')
tall = 1

for i in range(1,11):
    print(tall)
    tall = tall + i

In [ ]:
Oppgave 1.8 a):

In [ ]:
print('De 50 første leddene av a_n + 3(n+1)')

tall = 5

for i in range(1,51):
    print(tall)
    tall = tall + 3*(i+1)

In [ ]:
Oppgave 1.8 c):

In [ ]:
print('Differansen for de 50 første leddene av a_n+1 - a_n')

tall1 = 5

for i in range(1,51):
    tall2 = tall1 + 3*(i+1)
    print(tall2 - tall1)
    tall1 = tall2

In [ ]:
Oppgave 1.11

In [ ]:
print('1.11 a)')

for n in range(1,11):
    tall = (n+1)/2
    print (tall)

In [ ]:
print('1.11 b)')

for n in range(1,11):
    tall = 2*n
    print (tall)

In [ ]:
Oppgave 1.16

In [ ]:
print('1.16 a)')
sum = 0

for i in range(1,51):
    sum = sum + (2*i -1)

print(sum)

In [ ]:
Oppgave 1.19

In [ ]:
print('1.19')
sum = 0

for i in range(3,7):
    sum = sum + (i**2 - 1)

print(sum)

In [ ]:
Fibonacci - utforsk s23

In [ ]:
print('Fibonacci:')
def calculateSum(n) :
    if (n <= 0) :
        return 0
  
    fibo =[0] * (n+1)
    fibo[1] = 1
  
    # Initialize result
    sm = fibo[0] + fibo[1]
  
    # Add remaining terms
    for i in range(2,n+1) :
        fibo[i] = fibo[i-1] + fibo[i-2]
        
        sm = sm + fibo[i]
        
    return sm
 
 
# Driver program to test
# above function
n = 9
print("Sum of the", n, "first Fibonacci numbers is : " ,
      calculateSum(n))

Fibonacci-følgen:

In [ ]:
a=0
b=1
n=12
print(a)
print(b)

for i in range(n):
    c=a+b
    print(c)
    a=b
    b=c

Utforsk side 58

In [ ]:
#Uendelig geometrisk rekke, k=1/2
n = 10

for i in range(n+1):
    sum = 1-1/2**i
    print(sum)

In [ ]:
#Harmonisk rekke
n = 100
sum = 0

for i in range(1,n+1):
    sum = sum + 1/i
    print(sum)

In [1]:
sum = 0

for i in range(1,201):
    sum = sum + (12*i+6)

print(sum)

242400